body{
background-color: #C4A484;
font-family: Times Newroman;
font-size: 100%;
color: black;
text-align: left;
margin: 0;
padding: 0;
}
h1{color: white;
text-align: center;
text-shadow:7px 2px #111111; 
}
h2{color: black;
text-align: left;}

h3{color: red;
font-weight: bold;}


}
.full-image{
	background-image: url('moshoeshoe.jpg');
	background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
}
	
		
.hero{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1; 
	background-image: url('moshoeshoe.jpg');
		
}
.text-box{
	position: relative;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8)
	margin:50px auto;
	padding: 20px;
	max-width: 450px;
	border-radius: 8px;
	box-shadow: 04px 8px rgba(0,0,0,0.2);
	background-color: gray;
	


}
.nav{
	display: flex;
	justify-content: center;
	background-color: #333;
	list-style: none;
	padding: 10px
	margin:0;
}
.contact_form{
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background: #f5f5f5;
	border-radius: 8px
	box-shadow: 02px 8px rgba(0,0,00,1);
}
.contact-form label{
	display: block;
	margin-top: 15px;
	font-weight: 15px;
	font-weight: bold;
}
.contact-form input, .contact-form textarea, .contact-form select{
	width: 100%;
	padding: 10px 15px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;

}
.contact-form button{
	width: 100%;
	padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s, transform 0.2
}
.contact-form button:hover{
	background-color: #ffc107;
	transform: scale(1.05);
}
.contact-form input:focus, .contact-form textarea:focus, .contact-form select:focus{
	border-color: blue;
	outline: none;
	box-shadow: 005px #3b3b3b55;
}
.image-gallery{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 20px
}
.image-gallery img{
	width: 200px;
	height: auto;
	border-radius: 8px;

}
.attire-item{
	width: 200px
	text-align:center;
	transform: transform 0.3s ease, box-shadow 0.3s ease;

}
.attire-item img{
	width: 100px;
	border-radius: 8px;



}
.attire-item:hover{
	transform: scale(1.05);
	box-shadow: 04px 12px rgba(0,0,0,0.2)
}
.craft-gallery{
	display: flex;
	flex-wrap: wrap;
	gap:20px;
	padding: 20px;
	justify-content: center;
	background-color: #fff8ee;
}
.craft-item{
	background: #fff;
	border-radius: 8px;
	width: 250px;
	padding: 15px;
	text-align: center;
	box-shadow: 02px 8px rgba(0,0,0,0.1);
	transition: transform 0.3s ease;
}
.craft-item h3{
	margin: 10px s05px;
}
.craft-item a:hover{
	color: #ff9800;
}
.craft-item:hover{
	transform: translateY(-5px);
}
.box{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
	gap:30px;
	padding: 10px;
	height: 600px;
	border-radius: 8px; 
	background-color: #f8c8dc;
}
.container{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	gap:20px;
	padding: 10px;
}
.video-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

















}



















